@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu Sans", sans-serif;
  font-size: medium;
  line-height: 1.3em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  padding: 0.8rem 1.5rem;
  height: 90px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container {
  padding: 0.4rem 1.8rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #00b289;
  font-size: 1.8rem;
  font-weight: 700;
}

.menu-bar {
  display: flex;
  gap: 2rem;
}

.nav-item {
  position: relative;
  padding: 0.5rem;
}

/* dropdown Css*/

.dropdown {
  position: absolute;
  left: -8rem;
  top: 3.1rem;
  padding: 1.5rem;
  width: 350px;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px -1px 15px rgb(190, 187, 187);
}

.dropdown-toggle {
  display: none;
}

#dropdown2 {
  padding: 2rem;
  width: 300px;
}

.dropdown-menu {
  display: grid;
  gap: 1.8rem;
}

.dropdown2-item {
  padding: 0.5rem;
}

.dropdown2-item:hover {
  background-color: #efefefe7;
}

.dropdown-item {
  border-bottom: 1px solid rgb(91, 88, 88);
}

.dropdown-link {
  color: black;
}

.dropdown-item-container {
  padding: 1rem 0.3rem;
  display: grid;
  gap: 1rem;
}

.dropdown-item-container:hover {
  background-color: #efefefe7;
  transition: all 0.3s ease-in;
}

.dropdown-link-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.dropdown-link-title ~ p {
  font-size: 0.95rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #4c4d5f;
  transition: all 0.4s ease-in;
}

.nav-link:hover {
  color: black;
}

.fa-solid {
  font-size: 0.9rem;
}

.header-buttons {
  padding: 0.5rem;
  display: flex;
  gap: 2rem;
}

button {
  padding: 0.9rem 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #00b289;
  background: transparent;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-btn {
  color: white;
  background-color: #00b289;
}

.signup-btn:hover {
  background-color: #049c78c7;
}

.login-btn {
  color: #00b289;
}

.login-btn:hover {
  background-color: #00b289;
  transition: all 0.3s ease-in-out;
  color: white;
}

.hamburger {
  position: relative;
  cursor: pointer;
  display: none;
  padding: 0 0.2rem;
  border-radius: 2px;
}

.bars {
  position: absolute;
  top: -1rem;
}

.cross {
  position: absolute;
  top: -1rem;
  display: none;
}

.fa-bars {
  font-size: 2rem;
}

.fa-xmark {
  font-size: 2rem;
}

/* Main section styling  */

.main {
  border: 1px solid red;
  padding: 1rem;
  height: auto;
  padding-top: 7rem;
  background: #87cfeb45;
}

.plan-pricing {
  padding: 0.5rem 2rem;
  margin: auto;
  /* text-align: center; */
}

.plan {
  /* border: 2px solid violet; */
  margin: 2rem 1rem;
  text-align-last: center;
}

.plan-title {
  /* border: 2px solid rgb(130, 238, 137); */

  display: inline;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.toggle-btn {
  /* border: 2px solid rgb(255, 27, 27); */

  font-size: 1rem;
  margin-left: 3rem;
  display: inline;
}

.pricing-card {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  /* border: 1px solid rgb(26, 226, 39); */
}

.card {
  border: 1px solid #4c4d5f3e;
  height: 890px;
  width: 36%;
  padding: 3rem 1.8rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: #fff;
}

.card h3 {
  font-size: 1.8rem;
  text-align: center;
}

.card > p {
  font-size: 0.8rem;
  text-align: center;
}

.price-cont {
  margin: 2rem 1rem 0.5rem 1rem;
}

.price {
  font-size: 2.5rem;
  font-weight: 700;
}

.month {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.checklist {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

.bottom-line {
  display: block;
  border-bottom: 2px solid #00b289;
}

.fa-check {
  color: #00b289;
  padding-right: 0.5rem;
}

.checklist p {
  font-size: 1rem;
}

.start-button {
  /* border: 1px solid rgb(26, 26, 226); */
  
}

.start-free {
  width: 100%;
  position: relative;
}

.card-btn-one {
  top: 14.5rem;
}
.card-btn-two {
  top: 11rem;
}


@media only screen and (max-width: 980px) {
  .hamburger {
    display: block;
  }

  .header-buttons {
    display: none;
  }

  .menu {
    display: none;
  }

  .pricing-card {
    display: block;
    width: 100%;
  }

  .card {
    width: 90%;
    height: 600px;
    border-radius: 7px;
  }

  .card h3 {
    font-size: 1.8rem;
    text-align: start;
  }

  .card > p {
    font-size: 0.8rem;
    text-align: start;
  }

  .start-free {
    width: 95%;
    text-align: center;
  }

  #starter {
    height: 500px;
  }

  #professional {
    height: 540px;
  }

  #businees {
    height: 600px;
  }

  .card {
    border: 1px solid red;

    padding: 1rem 1.8rem 0rem 1.8rem;
    margin-bottom: 2rem;
  }
}
