@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu Sans", sans-serif;
  font-size: medium;
  line-height: 1.3em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  padding: 0.8rem 1.5rem;
  height: 90px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container {
  padding: 0.4rem 1.8rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #00b289;
  font-size: 1.8rem;
  font-weight: 700;
}

.menu-bar {
  display: flex;
  gap: 2rem;
}

.nav-item {
  position: relative;
  padding: 0.5rem;
}

/* dropdown Css*/

.dropdown {
  position: absolute;
  left: -8rem;
  top: 3.1rem;
  padding: 1.5rem;
  width: 350px;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px -1px 15px rgb(190, 187, 187);
}

.dropdown-toggle {
  display: none;
}

#dropdown2 {
  padding: 2rem;
  width: 300px;
}

.dropdown-menu {
  display: grid;
  gap: 1.8rem;
}

.dropdown2-item {
  padding: 0.5rem;
}

.dropdown2-item:hover {
  background-color: #efefefe7;
}

.dropdown-item {
  border-bottom: 1px solid rgb(91, 88, 88);
}

.dropdown-link {
  color: black;
}

.dropdown-item-container {
  padding: 1rem 0.3rem;
  display: grid;
  gap: 1rem;
}

.dropdown-item-container:hover {
  background-color: #efefefe7;
  transition: all 0.3s ease-in;
}

.dropdown-link-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.dropdown-link-title~p {
  font-size: 0.95rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #4c4d5f;
  transition: all 0.4s ease-in;
}

.nav-link:hover {
  color: black;
}

.fa-solid {
  font-size: 0.9rem;
}

.header-buttons {
  padding: 0.5rem;
  display: flex;
  gap: 2rem;
}

button {
  padding: 0.9rem 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #00b289;
  background: transparent;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-btn {
  color: white;
  background-color: #00b289;
}

.signup-btn:hover {
  background-color: #049c78c7;
}

.login-btn {
  color: #00b289;
}

.login-btn:hover {
  background-color: #00b289;
  transition: all 0.3s ease-in-out;
  color: white;
}

.hamburger {
  position: relative;
  cursor: pointer;
  display: none;
  padding: 0 0.2rem;
  border-radius: 2px;
}

.bars {
  position: absolute;
  top: -1rem;
}

.cross {
  position: absolute;
  top: -1rem;
  display: none;
}

.fa-bars {
  font-size: 2rem;
}

.fa-xmark {
  font-size: 2rem;
}

/* Main section styling  */

.main {
  padding: 1rem;
  height: auto;
  padding-top: 7rem;
  background: #87cfeb45;
}

.plan-pricing {
  padding: 0.5rem 2rem;
  margin: auto;
}

.plan {
  margin: 2rem 1rem;
  text-align-last: center;
}

.plan-title {

  display: inline;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.toggle-btn {

  font-size: 1rem;
  margin-left: 3rem;
  display: inline;
}

.pricing-card {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.card {
  border: 1px solid #4c4d5f3e;
  box-shadow: 0px 0px 4px;
  height: auto;
  width: 36%;
  padding: 3rem 1.8rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 8px;
}

.card h3 {
  font-size: 1.8rem;
  text-align: center;
}

.card>p {
  font-size: 0.8rem;
  text-align: center;
}

.price-cont {
  margin: 2rem 1rem 0.5rem 1rem;
}

.price {
  font-size: 2.5rem;
  font-weight: 700;
}

.month {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.checklist {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

.bottom-line {
  display: block;
  border-bottom: 2px solid #00b289;
}

.fa-check {
  color: #00b289;
  padding-right: 0.5rem;
}

.checklist p {
  font-size: 1rem;
}

.start-button {
  border: 1px solid rgb(26, 26, 226);
}

.start-free {
  width: 100%;
  background-color:#00ca9b;
  border-radius: 7px;
  border-radius: 7px;
}

.card-btn-one {
  top: 14.5rem;
}

.card-btn-two {
  top: 11rem;
}

/* section two  */
.horizontal-card {
  width: 100%;
  padding: 0rem 1rem;
}

.title {
  padding: 1.5rem 0.5rem;
  margin: 3rem 3rem;
  font-size: 2rem;
  color: #4c4d5f;
  text-align: center;
}

.h-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 1rem;
  padding: 10px 40px 5px;
  height: 140px;
  border-radius: 8px;
  background-color: #fff;
}



.fa-greater-than {
  font-size: 0.7rem;
}

.h-card-title {
  font-size: 1.5rem;
}

.service-price {
  font-size: 2rem;
  font-weight: 700;
}

.card-monthly {
  font-size: 1rem;
  font-weight: normal;
}

.section-three {
  min-height: 210px;
  border: 1px solid rgb(67, 199, 65);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  width: 80%;
  max-width: 1000px;
  border-radius: 8px;
  margin: 0 auto;
  /* margin-bottom: 4rem;
  margin-top: 4rem; */
  margin: 3rem auto;
  line-height: 2rem;

}

.three-cont p {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.three-cont span {
  color: #00b289;
}

.three-cont:nth-last-child(2) {
  text-align: center;

}

.three-button {
  background-color: #00B289;

}

/* FAQ Container  */

.faq-container {
  padding: 1rem;
}

.faq-container h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem 1rem;
  color: #00B289;
}

.question {
  width: 87%;
  max-width: 1000px;
  margin: 0 auto;
}

.question-one {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.question-one:hover {
  color: #00B289;
  transition: all 0.3s ease-in;
}

/* display none  */
.hidden {
  padding: 1rem 2rem;
  line-height: 2rem;

}

.fa-chevron-down {
  font-size: 1.3rem;
}

/* Display none  */
.hidden {
  display: none;
}

/* Footer css  */
.footer {
  padding: 3rem 1rem;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-container {
  padding: 1rem 1.5rem;
  width: 30%;
  text-align: center;
  line-height: 2rem;
  border-radius: 7px;
}

.f-container-title {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.footer-container>* {
  font-size: 0.8rem;
  color: #4c4d5f;
}

.temp-one .fa-chevron-down {
  font-size: 0.7rem;
}

.bonsai .fa-chevron-down {
  font-size: 0.7rem;

}

.section-one {
  margin-bottom: 1rem;
}


@media only screen and (max-width: 980px) {
  .hamburger {
    display: block;
  }

  .header-buttons {
    display: none;
  }

  .menu {
    display: none;
  }

  .pricing-card {
    display: block;
    width: 100%;
  }

  .card {
    width: 90%;
    height: 600px;
    border-radius: 7px;
  }

  .card h3 {
    font-size: 1.8rem;
    text-align: start;
  }

  .card>p {
    font-size: 0.8rem;
    text-align: start;
  }

  .start-free {
    width: 95%;
    text-align: center;
  }

  #starter {
    height: 500px;
  }

  #professional {
    height: 540px;
  }

  #businees {
    height: 600px;
  }

  .card {
    padding: 1rem 1.8rem 0rem 1.8rem;
    margin-bottom: 2rem;
  }
}

/* section two media Queries  */

@media only screen and (max-width: 980px) {
  .h-card {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    min-height: 150px;
    height: auto;
    padding: 1rem;
  }

  .section-three {
    width: 95%;
  }

}

@media only screen and (max-width: 680px) {
  .section-three {
    display: block;
    align-items: center;
    justify-content: center;
  }


}